// gnelsonj.com

// imports
@import "compass/utilities/general/clearfix"
@import "compass/css3"

// Type
$baseFontSize:      1rem
$lineHeight:        1.9
$serif:             'PT Serif', georgia, 'Times New Roman', 'Times', serif
$sansSerif:         helvetica, arial, sans-serif
$h1Size:            1rem * 2
$h2Size:            1rem * 1.5
$h3Size:            1rem
$h4-6Size:          1rem


// colors
$backgroundColor:   #fff
$borderColor:       #ddd
$typeColor:         #444
$mediumTypeColor:   lighten($typeColor, 20%)
$lightTypeColor:    lighten($typeColor, 40%)
$linkColor:         #3288E6

//layout
$columnWidth:       35rem
$wideColumnWidth:   $columnWidth*1.45
$border:            1px dotted #ccc

@mixin column($size: wide)
    margin-left: auto
    margin-right: auto
    width: 90%

    @if $size == skinny
        max-width: $columnWidth
    @else
        max-width: $wideColumnWidth

html
    font-size: 100%
    @media all and (min-width: 960px) and (min-height: 600px), all and (min-width: 1152px) and (min-height: 600px)
        font-size: 125%

body
    margin: 0px
    font-family: $serif
    font-size: $baseFontSize
    color: $typeColor
    line-height: $lineHeight + em
    background-color: $backgroundColor

h1, h2, h3, h4, h5, h6
    font-family: $serif
    font-weight: 400
    text-rendering: optimizeLegibility
    margin-top: $lineHeight + rem
    margin-bottom: $lineHeight + rem

h1
    font-size: $h1Size
    line-height: $lineHeight*2 + rem

    @media all and (max-width: 560px)
        font-size: $h1Size*0.8
        line-height: $lineHeight + rem

h2
    font-size: $h2Size

h3
    font-size: $h3Size
    text-transform: uppercase

h4, h5, h6
    font-size: $h4-6Size

p
    margin: 0

p + p
    margin-top: $lineHeight + em

blockquote
    margin: $lineHeight + rem 0
    border-left: 2px solid #ddd
    color: $mediumTypeColor
    font-style: italic

ul, ol
    margin: $lineHeight + rem 0
    padding: 0

    li + li
        padding-top: $lineHeight + em

    &.no-bullets
        list-style: none

    &.inline
        +pie-clearfix()

        li
            display: inline-block
            padding: 0 $lineHeight + rem 0 0

            &:first-child
                padding-left: 0

.centered
    text-align: center

a
    text-decoration: none

#header
    font-family: $serif
    padding: 0
    background-color: #E54F4C

    #navigation
        @include column(skinny)
        +pie-clearfix()

        .nav-item
            float: left

            a
                display: block
                line-height: $lineHeight*2 + rem
                padding: 0 $lineHeight + rem
                font-family: $sansSerif
                color: #B51F1C
                text-transform: uppercase
                letter-spacing: 0.15em
                font-weight: bold
                font-size: .8rem

                &:hover
                    color: #850F0C

                &.logo
                    margin-left: -$lineHeight + rem

#main

    p, figure, pre, cite, blockquote, h1, h2, h3, h4, h5, h6, ul, ol, .skinny-container
        @include column(skinny)

    img
        display: block
        max-width: 100%
        margin:
            right: auto
            left: auto

    .wide-container
        @include column(wide)

    header
        margin: $lineHeight*2 + rem 0 $lineHeight + rem

        @media all and (max-width: 560px)
            margin-top: $lineHeight + rem

    a
        color: $typeColor
        border-bottom: 1px dotted $typeColor

        &:hover
            color: $linkColor
            border-color: $linkColor

    blockquote

        a
            color: $mediumTypeColor

    ol, ul
        @media all and (max-width: 560px)
            width: auto
            padding-left: 30px
            margin:
                left: 5%
                right: 5%

            &.inline
                padding: 0
                li
                    display: block
                    padding: 0


    #post

        &:after
            display: block
            content: "***"
            text-align: center
            font-size: 2rem
            color: $lightTypeColor
            margin: $lineHeight + rem 0

        header

            h2, h1
                margin:
                    top: 0
                    bottom: 0

        img
            margin:
                top: $lineHeight + rem
                bottom: $lineHeight + rem

        .block-image
            max-height: 30rem

        .full-width-image
            padding: 0
            max-width: 100%

        .floated-image
            display: inline

            &.left
                float: left
            &.right
                float: right

    #about

        &:before
            border-top: $border

        img
            margin-bottom: $lineHeight + rem

    #blog-list
        @include column(skinny)

        .post

            + .post
                border-top: $border

            a
                +pie-clearfix()
                display: block
                padding: 0.5em 0
                border: 0
                &:hover

                    .post-title

                        &:after
                            margin-left: 5px
                            display: inline
                            content: '\2192'

            .post-title
                width: 80%
                float: right

            .post-date
                width: 20%
                float: left

    .post-date
        font-style: italic
        font-size: 0.8rem
        text-transform: uppercase
        color: $lightTypeColor

#footer
    @include column(skinny)
    padding: $lineHeight + rem 0
    margin-top: $lineHeight*3 + rem
    color: $lightTypeColor
    text-align: center
    border-top: $border
    font-size: .8rem

    a
        color: $lightTypeColor